@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #cccccc;
  height: 100%;
}
/* _______________________________________________________ */
.navBar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: min(30px, 5%);
  background-color: #333;
  color: #eee;
  box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.6);
}
.navBar h1 {
  font-size: 3rem;
  cursor: pointer;
}
/* _______________________________________________________ */
.mainContent {
  display: grid;
  grid-template-rows: 1fr 6fr;
  justify-items: center;
  padding: 10px 10px 40px;
  box-shadow: 0px -11px 14px -5px rgba(0, 0, 0, 0.47) inset;
  position: relative;
}
.firstRow {
  width: min(600px, 80%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.firstRow div {
  text-align: center;
  color: #333;
  font-weight: bold;
  border: 1px solid #3333332e;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 15px;
  width: 220px;
  padding: 10px;
}
/* _______________________________________________________ */
.secondRow {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  justify-items: center;
  width: min(700px, 60%);
  gap: 20px;
}
.secondRow div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  width: 150px;
  height: 180px;
  padding: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 10px;
  border-radius: 15px;
}
.secondRow div:hover {
  transform: scale(1.08);
  transition: 250ms;
  cursor: pointer;
  user-select: none;
}
.secondRow div:active {
  transform: scale(0.95);
}
.secondRow div img {
  width: 70%;
  pointer-events: none;
}
.secondRow div p {
  pointer-events: none;
}

/* _______________________________________________________ */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: #eee;
  padding: min(4%, 15px);
}
a {
  text-decoration: none;
  color: inherit;
  border-radius: 10px;
}
a svg {
  padding: 0 10px;
}

/*__________________________________*/

.gameOver {
  height: 180px;
  width: 280px;
  padding: 15px;
  background-color: #e8e8e8;
  box-shadow: rgba(16, 16, 16, 0.415) 0px 7px 29px 5000px;
  border-radius: 10px;
  position: absolute;
  top: calc(50% - 200px);
  right: calc(50% - 150px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.gameOver p {
  justify-self: flex-start;
  padding: 15px;
  font-weight: bold;
}
.gameOver button {
  appearance: none;
  background-color: #333;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #FAFBFC;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 8px 17px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}
.gameOver button:hover {
  background-color: #FAFBFC;
  color: #333;
  text-decoration: none;
  transition-duration: 0.1s;
}
.gameOver button:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}
.gameOver button:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}
.gameOver button:focus {
  outline: 1px transparent;
}
.gameOver button:before {
  display: none;
}
.gameOver button:-webkit-details-marker {
  display: none;
}
.noEvent {
  pointer-events: none;
}









/* _________________________________________________ */

@media only screen and (max-width: 768px) {
  .navBar h1 {
    font-size: 2rem;
  }
  .mainContent {
    grid-template-rows: 150px 1fr;
  }
  .firstRow {
    /* height: 50%; */
  }
  .secondRow {
    width: 100%;
  }
  .secondRow div {
      width: 120px;
      height: 145px;
  }
}
